body{
    background-color:#FFFFFF;
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:#000033;
    color:#FFFFFF;
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    line-height: 400%;
    text-indent: 1em;
}

nav{
    background-color:#90C7E3;
    font-weight:bold;
}

h1, h2, h3 {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h3 {
    color: #000033;
}

h2{
    color:#000033;
}

h1 {
    margin-bottom:0px;
}

ul {
    list-style-image: url(images/marker.gif);
}

table, td, th{ 
    border:2px solid #3399CC;
    border-collapse: collapse;
}

td, th{
    padding:0.5em;
    text-align: center;
}

tr:nth-of-type(odd){
    background-color:#75d8ff
}

footer {
    font-size: 75%;
}

.resort{
    color:#5C7FA3;
    font-weight: 700;
}

#contact {
    font-size:90%;
}

.text{
    text-align:left;
}